// {
//   "presets": [
//     ["es2015", {
//       "modules": false
//     }],
//     ["env", {
//       "modules": false,
//       "targets": {
//         "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
//       }
//     }],
//     "stage-2"
//   ],
//   "plugins": ["transform-vue-jsx", "transform-runtime", "transform-object-rest-spread"]
// }
// "plugins": ["transform-object-rest-spread"] //不能解析es6语法关键解决

{
  "presets": [
    ["es2015", {
      "modules": false
    }],
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime", "transform-object-rest-spread"]
}
